*{
    margin: 0px;
    padding: 0px;
}
h2{
    font-family: Verdana, sans-serif;
    font-size: 20px;
}
h3{
    font-family: Verdana, sans-serif;
    font-size: 14px;
}
p{
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
time{
    font-family: Verdana, sans-serif;
    font-size: 11px;
}
header, section, footer, aside, nav, article
hgroup{
    display: block;
}
body{
    text-align: center;
}
#caja{
    width: 960px;
    margin: 15px auto;
    padding: 15px;
    text-align: left;
}
#cabecera{
    background: #000000;
    padding: 20px;
    text-align: center;
}
#cabecera img{
    vertical-align: middle;
}
#cabecera h3{
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    padding: 15px;
}
#menu{
    background: #6d23fe;
    padding: 5px 15px;
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px 20px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#menu a{
    text-decoration: none;;
    color: white;
}
#principal{
    float: left;
    width: 680px;
    margin: 25px;
}
#barra-lateral{
    float: left;
    width: 180px;
    margin: 20px 0px;
    padding: 20px;
    background: #e6ddf9;
}
#barra-lateral ul li{
    list-style: none;
}
.titulo h2{
    padding: 15px 15px 15px 0px;
}
.titulo h3{
    padding-bottom: 10px;
}
.titulo h1{
    font-family: Verdana, sans-serif;
}
.tabla td{
    padding: 0px 15px 0px 5px;
    text-align: justify;
}
article{
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid;
    border-color: #6d23fe;
}
#seccion{
    padding-top: 25px;
}
#principal img{
    width: 100%;
}
#pie-pagina{
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #6d23fe;
    color: white;
}
#info{
    float: left;
    width: 180px;
    margin: 20px 0px;
    padding: 20px;
    background: #e6ddf9;}
#info img{
    width: 100%;
    padding-top: 15px;
}
#info p{
    font-family: Verdana, sans-serif;
    font-size: 14px;
    padding-top: 20px;
    text-align: justify;
}
#principal ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
    box-sizing: border-box;
}
#principal ul.slider {
    position:relative;
    padding: 30px;
}
#principal ul.slider li {
    opacity: 0;
    transition: opacity .5s;
    position: absolute; 
    left: 0px;
    top: 0px;
    padding:50px;
    background:#fff;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0; 
    transition: opacity .5s;
    padding-top: 30px;
    text-align: center;
}
#principal ul.slider li:first-child {
    opacity: 1; 
}
#principal ul.slider li:target {
    opacity: 1;
}
#principal nav {
    position:relative;
    top:200px;
}
#principal nav ul{
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
}
#principal nav a {
    font-family: Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    background-color: #6d23fe;
    border-radius: 15px;
    padding: 15px;
    color: white;
}
#principal nav li:last-child a {
    border-right: 0;
}
#principal nav a:hover {
    background-color: #00324b;
    color: #fff;
    border-top-color: #65bce8;
}

#principal nav a:active {
    border-top-color: #f90;
    background: #f90;
    color: #00324b;
}